<div class="post mb-4">
  <div class="post-author">
    <div class="avatar avatar-<%= (post.user.id % 27) + 1 %>"></div>
    <div><%= post.user.username %></div>
  </div>
  <div class="post-body">
    <span><%= post.body %></span>
  </div>
  <div class="post-actions">
    <div id="<%= dom_id post %>-likes">
      <%= render partial: 'likes/like', locals: { post: post } %>
    </div>
    <div class="post-actions-comments" id="<%= dom_id post %>-comments-count"><%= pluralize(post.comments.count, "comment") %></div>
  </div>
  <div class="post-comments">
    <div id="<%= dom_id post %>-comment-form"><%= render partial: "comments/form", locals: { post: post } %></div>
    <div id="<%= dom_id post %>-comments-list">
      <%= render partial: "comments/list", locals: { post: post } %>
    </div>
  </div>
</div>